<div class="subchapter">
    <h3>Ma liste de courses :</h3>

    <table>
        <thead> <!-- En tête du tableau -->
            <tr>
                <th>Nom</th>
                <th>Quantité</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let item of listToShow">
                <td>{{ item.name }}</td>
                <td>{{ item.quantity }}</td>
                <td>
                    <button (click)="down(item)" class="btn">➖</button>
                    <button (click)="up(item)" class="btn">➕</button>
                    <button (click)="delete(item)" class="btn">❌</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

