<h1 class="mb-6">Bienvenue sur la Démo des .Net Angular de Technobel</h1>
<div class="m-auto w-5/6 h-3/5 bg-primary-100 flex justify-evenly items-center">
    <div class="h-5/6 w-1/4 bg-white rounded-sm flex flex-col justify-evenly items-center">
        <h2 class="h-1/5 mb-2">Ressources</h2>
        <div class="h-2/5 flex flex-col">
            <a class="text-primary-400 hover:text-orange-400" href="https://angular.io/" target="_blank">Angular</a>
            <a class="text-primary-400 hover:text-orange-400"href="https://tailwindcss.com/docs/installation" target="_blank">Tailwind</a>
        </div>
        <div class="h-1/5">
            <p>De rien</p>
        </div>
    </div>

    <div class="h-5/6 w-1/4 bg-white rounded-sm flex flex-col justify-evenly items-center">
        <h2 class="h-1/5 mb-2">Les demos</h2>
        <p class="h-2/5">Tu trouveras toutes les démos ici</p>
        <div class="h-1/5">
            <button routerLink="/demo" class="btn">Nan Là</button>
        </div>
    </div>

    <div class="h-5/6 w-1/4 bg-white rounded-sm flex flex-col justify-evenly items-center">
        <h2 class="h-1/5 mb-2">Les exos</h2>
        <p class="h-2/5">Tu trouveras tous les exo ici</p>
        <div class="h-1/5">
            <button class="btn">Nan Là</button>
        </div>
    </div>
</div>