<h1>Demo 4 - Input & Output => Dialogue entre les composants</h1>
<div class="chapter">

    <div class="w-4/5 m-auto px-2 py-1 border border-pink-800">
        <h3>Je suis le composant parent</h3>
        <p> {{besoinEnfant}} </p>

        <!-- $event est une convention de nommage, représente la valeur envoyée en même temps que l'évènement -->
        <app-enfant (onNeedSelect)="receiveNeed($event)"
         [prenomParent]="prenom"
         [hobbiesParent]="['Pétanque', 'Ricard', 'Casino']">
        </app-enfant>
    </div>

</div>