#back{
    background-color: darkblue;
    width: 400px;
    height: 30px;

    position: relative;
}

#front{
    background-color: chartreuse;
    height : 30px;
    width: 100%;
}

.big{
    font-size: large;
}

.pink{
    color : pink;
}

.italic{
    font-style: italic;
}