<nav class="h-full bg-primary-200">

    <ul class="flex flex-col py-2 px-4">

        <li *ngFor="let onglet of linksList">
            
            <a [routerLink]="onglet.url" (click)="display(onglet)">{{onglet.title}}</a>

            <ul class=" pl-2" *ngIf="onglet.isVisible">

                <li *ngFor="let enfant of onglet.children" >
                    <a [routerLink]="enfant.url" *ngIf="onglet.isVisible">{{enfant.title}}</a>
                </li>

            </ul>
        </li>

    </ul>

</nav>