<!-- <nav class="h-full bg-primary-200">
    <ul class="flex flex-col py-2 px-4">
        <li><a routerLink="/">Accueil</a></li>
        <li>
            <a routerLink="/demo">Les Demos</a>
            <ul class="px-4">
                <li> 
                    <a routerLink="/demo/demo1">Demo 1 : Les Bindings</a>
                </li>
                <li>
                    <a routerLink="/demo/demo2">Demo 2 : Les Pipes</a>
                </li>
                <li>
                    <a routerLink="/demo/demo3">Demo 3 : Les Directives</a>
                </li>
            </ul>
        </li>
        <li>
            <a routerLink="/exo">Les Exos</a>
            <ul class="px-4">
                <li> <a routerLink="/exo/exo1">Exo 1 : Le Timer</a> </li>
            </ul>
        </li>
    </ul>
</nav> -->

<nav class="h-full bg-primary-200 flex flex-col justify-between">
    <ul class="flex flex-col py-2 px-4">

        <li *ngFor="let link of linksList" >
            <!-- v1 -->
            <!-- <a (click)="link.isVisible = !link.isVisible" [routerLink]="link.url"> {{ link.title }} </a> -->
            <!-- v2 -->
            <a (click)="display(link)" [routerLink]="link.url"> {{ link.title }} </a>

            <ul *ngIf="link.isVisible" class="px-4">

                <li *ngFor="let child of link.children">
                    <a [routerLink]="child.url"> {{child.title}} </a>
                </li>
            </ul>
        </li>
    </ul>
    <div class="flex flex-col items-center mb-6">
        <span>Bonjour {{connectedUser?.firstname}}</span>
        <button *ngIf="!connectedUser" class="btn" routerLink="/demo/demo5">Se connecter</button>
        <button *ngIf="connectedUser" class="btn" (click)="logout()" >Se déconnecter</button>
    </div>
</nav>
