<table>
    <thead>
    <tr>
        <th colspan="3">LA SHOPPING LIST</th>
    </tr>
    </thead>
    
    <tbody>
    <tr>
        <td>Nom</td>
        <td>Quantité</td>
        <td>Actions</td>
    </tr>

    <tr *ngFor="let caracs of shoppingListFromParent">
        <td>{{caracs.name}}</td>
        <td>{{caracs.quantity}}</td>
        <td><button (click)="addProductQtt()" class="btn"></button>
            <button (click)="removeProductQtt()" class="btn"></button>
            <button (click)="deleteProduct()" class="btn"></button></td>
    </tr>
    </tbody>
</table>

