<main>
    <div class="content">
        <div class="pokedex">
            <div class="dot"></div>
            <div class="second-dot"></div>
            <div class="mini-dot"></div>
            <div class="pokedex-inside">
                <div class="pkm-left">
                    <div id="name" class="name {{ pokemonModel.types.length > 0 ? (pokemonModel.types[0].type.name) : '' }}">
                        <p id="pkm-name">{{pokemonModel.name}}</p>
                    </div>
                    <div class="img">
                        <img id="pkm-img-front" [src]="pokemonModel.sprites.front_default" alt="">
                        <img id="pkm-img-back" [src]="pokemonModel.sprites.back_default" alt="">
                    </div>
                    <div id="description" class="description">Description (à venir)</div>
                    <div id="infos" class="infos {{ pokemonModel.types.length > 0 ? (pokemonModel.types[0].type.name) : '' }}">
                        <!-- 3 ternaires pour afficher des "X" en arrivant sur la page d'accueil et qu'aucun pokémon n'a été selectionné -->
                        <p>N° <span id="pkm-id">{{pokemonModel.id !== 0 ? pokemonModel.id : 'XXX'}}</span></p>
                        <p>Poids : <span id="pkm-weight">{{pokemonModel.weight === 0 ? 'X' : (pokemonModel.weight / 10) }} kg</span></p>
                        <p>Taille : <span id="pkm-height">{{pokemonModel.height === 0 ? 'X' : (pokemonModel.height * 10) }} cm</span></p>
                        <ul *ngFor="let t of pokemonModel.types, let i = index">
                            <li>Type N°{{i+1}} : {{t.type.name}}</li>
                        </ul>
                    </div>
                </div>

                <div id="pkm-right" class="pkm-right">
                    <div id="pokemons" class="pkm-list">
                        <li class="pkm-select" [style]="'color: var(--'+poke.types[0].type.name+')'" *ngFor="let poke of pokemonList"><p *ngIf="poke.id < 1011" (click)="changePokemon(poke.id)">{{poke.name}}</p></li>
                    </div>
                    <div class="buttons">
                        <button id="btn-prev" (click)="display(-20)" [disabled]="offsetValue === 0">
                            ⬆
                        </button>
                        <button id="btn-next" (click)="display(20)" [disabled]="offsetValue >= 990">
                            ⬇
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>