<h1>Ma playlist :</h1>

<div class="chapter">
    <button class="btn" routerLink="/demo/demo7/create">Ajouter un son</button>

    <table>
        <thead>
            <tr>
                <td>Titre</td>
                <td>Artistes</td>
                <td>Durée</td>
                <td>Actions</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let track of trackList">
                <td> {{ track.title }} </td>
                <td>
                    <span *ngFor="let artist of track.artists">
                        {{artist}}
                    </span>
                </td>
                <td> {{ track.duration | convertTime }} </td>
                <td>
                    <button class="btn" routerLink="/demo/demo7/detail/{{track.id}}">🔍</button>
                    <button class="btn" routerLink="/demo/demo7/update/{{track.id}}">📜</button>
                    <button (click)="delete(track.id)" class="btn">❌</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>