<h1 style="text-align: center;">La Shopping List</h1>

<div class="chapter">
    
    <div>
        <input type="text" placeholder="Nom du produit"
        [(ngModel)]="productName" (keyup.Enter)="addProduct()">
        <button (click)="addProduct()" class="btn">AJOUTER</button>
    </div>

    <app-shopping-list-enfant
    (onDownQty)="downProductQty($event)"
    (onUpQty)="upProductQty($event)"
    (onDeleteProduct)="deleteProduct($event)"
    [listToShow]="productsList"></app-shopping-list-enfant>

</div>